<div class='row'>
    <h1>Cricket score keeper</h1>
</div>
<div class='row'>
    <form action="/add/play" method="POST">
    <div style='display:inline-block'>
        <button type="submit" name='choice' value='1'  class="btn btn-info">1</button>
        <button type="submit" name='choice' value='2'  class="btn btn-info">2</button>
        <button type="submit" name='choice' value='3'  class="btn btn-info">3</button>
        <button type="submit" name='choice' value='4'  class="btn btn-info">4</button>
        <button type="submit" name='choice' value='6'  class="btn btn-info">6</button>
        <button type="submit" name='choice' value='w'  class="btn btn-info">w</button>
        <button type="submit" name='choice' value='-' class="btn btn-info">-</button>
    </div>
    </form>
</div>